{#
/**
 * @file
 * Default theme implementation for accordion item.
 *
 * Available variables:
 * - progress_id
 * - percent
 * - class
 * - icon
 * - content
 */
#}
<a role="button" class="btn {{ class }}" {% if link %} href="{{ link }}" {% endif %} {% if target %} target="{{ target }}" {% endif %}>
    <span class="hidden_element" data-text="{{ content }}">{{ content }}</span>
</a>

